html {
  scroll-behavior: smooth;
  margin: 0;
}
body{
  background: rgb(255, 246, 208);
  /*background: linear-gradient(to right bottom, rgb(255, 246, 208) 50%, rgb(255, 242, 190) 50%);*/
  animation: transitionIn 1s;
  animation: transitioninf ease infinite 4s;
  transition: ease-in 0.1s;
  color: rgb(141, 121, 89);
  margin: 0;
}

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: translateY(-10deg);
}
  to{
    opacity: 1;
    transform: translateY(0); 
  }
}
/*@keyframes transitioninf {
  from{
  background: linear-gradient(to right bottom, rgb(255, 246, 208) 50%, rgb(255, 242, 190) 50%);
}
  to{
  background: linear-gradient(to right bottom, rgb(255, 242, 190) 50%, rgb(255, 246, 208) 50%);
}
}
*/
.text{
  color: rgb(110, 98, 79); 
  animation: text 1s;
}
@keyframes text {
  from{
    margin-left: 100%;
  }
  to{
    margin-left: 0px;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 246, 208);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid rgb(255, 207, 77);
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(189, 123, 0);
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { 
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% { 
    transform: rotate(180deg);
  }
  75% { 
    transform: rotate(360deg);
  }
  100% { 
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% { 
    height: 0%;
  }
  25% { 
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% { 
    height: 100%;
  }
  100% { 
    height: 0%;
  }
}
@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}
.topbar{
  border-bottom: solid 3px rgb(247, 136, 33);
  height: 25px;
  border-radius: 1px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  animation: topbar 2s;
  text-align: center;
  align-items: center;
}
@keyframes topbar{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}
.tap{
  font: bold 18px tahoma;
  text-decoration: none;
  color: rgb(230, 174, 92);
  padding: 4px 12px 4px 12px;
  border-radius: 2px;
  transition:  ease-in-out 0.2s;
  position: flex;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.tap:hover{
  color: rgb(255, 166, 0);
  background:rgba(255, 208, 0, 0.856);
}
.logo{
  height: 18px;
  width: 80px;
  margin-left: 7px;
}
.topbarL{
  font: bold 18px tahoma;
  text-decoration: none;
  color: rgb(230, 174, 92);
  padding: 4px 12px 4px 12px;
  border-radius: 2px;
  transition:  ease-in-out 0.5s;
}
.topbarL:hover{
  color: rgb(255, 166, 0);
  background:rgba(255, 208, 0, 0.856);
}
/*
.topdiv{
  margin-top: 5%;
  width: 100%;
  height: 15%;
  border-top: solid rgb(255, 246, 208) 5px;
  border-bottom: solid rgb(255, 242, 190) 5px;
}
@keyframes rightTranz {
  from{
    margin-right: 50%;
  }
  to{
    margin-right: 0%;
  }
}
@keyframes leftTranz {
  from{
    margin-left: 50%;
  }
  to{
    margin-left: 0%;
  }
}
@keyframes rightTranzimg {
  from{
    margin-right: 50%;
  }
  to{
    margin-right: 10%;
  }
}
.right{
  animation: rightTranz 2s;
}
.left{
  animation: leftTranz 2s;
}
#ultopdiv{
  font-size: 22px;
}
#img1{
  margin-right: 10%;
  float: right;
  animation: rightTranzimg 2s;
  border-radius: 7px;
}
*/
.background1{
  background: rgb(255, 244, 200);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  animation: background1 3s;
  box-shadow: 5px 5px 5px 4px rgb(243, 213, 158);
  animation: shadows 1.5s;
}
/*@keyframes background1 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
*/
.topdiv{
  text-align: center;
  border: solid rgb(247, 136, 33) 5px;
  height: 15%;
  width: 30%;
  margin-top: 12%;
  color: rgb(141, 121, 89); 
  font-size: 30px;
  animation: topdiv 1s;
}
@keyframes topdiv{
  from{
    margin-top: 0%;
  }
  to{
    margin-top: 12%;
  }
}
.links1{
  text-decoration: none;
  margin-top: 16%;
  color: rgb(141, 121, 89);
  border: solid rgb(245, 169, 98) 5px;
  padding: 20px;
  transition: ease-in 0.4s;
  width: 8%;
  height: 5%;
  animation: links 1s;
  border-radius: 2px;
}
.links2{
  text-decoration: none;
  margin-left: 12%;
  margin-top: 16%;
  color: rgb(141, 121, 89);
  border: solid rgb(245, 169, 98) 5px;
  padding: 20px;
  transition: ease-in 0.4s;
  width: 8%;
  height: 5%;
  animation: links 1s;
  border-radius: 2px;
}
@keyframes links{
  from{
    padding: 30px;
  }
  to{
    padding: 20px;
  }
}
.links1:hover{
  color: rgb(255, 233, 191);
  background:rgba(248, 193, 75, 0.856);
}
.links2:hover{
  color: rgb(255, 233, 191);
  background:rgba(248, 193, 75, 0.856);
}
#mid{
  text-align: center;
  font-size: 25px;
  animation: mid 0.8s;
}
/*@keyframes mid {
  from{
    margin-top: -270px;
  }
  to{
    margin-top: 0px;
  }
}
*/
.background2{
  background: rgb(255, 247, 209);
  width: 100%;
  box-shadow: 0px 0px 10px 10px rgb(243, 213, 158);
  height: 320px;
  animation: shadows 1.5s;
}
.middiv1{
  text-decoration: none;
}
#middiv1h1{
  font-size: 40px;
  border-bottom: solid rgb(240, 202, 132) 6px;
  width: 18%;
}
.middiv1li1{
  text-align: center;
  float: left;
}
.middiv1li2{
  text-align: center;
  float: left;
  margin-left: 10%;
}
.img1div{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 3%;
  float: left;
  animation: img 2s;
}
.img1{
  margin-top: 2%;
  margin-left: 3%;
}
.imgText{
  text-align: center;
}
.img2div{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
  animation: img 2s;
}
.img2{
  margin-top: 2%;
  margin-left: 3%;
}
@keyframes img {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.background3{
  background: rgb(255, 245, 200);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  box-shadow: 0px 0px 10px 10px rgb(243, 213, 158);
  animation: shadows 1.5s;
}
.img3div{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
  animation: img 2s;
}
#middiv2h2{
  font-size: 40px;
  border-bottom: solid rgb(255, 217, 146) 6px;
  width: 18%;
}
.background4{
  background: rgb(255, 245, 200);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  box-shadow: 0px 0px 10px 10px rgb(247, 213, 150);
  animation: shadows 1.5s;
}
.img4div{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
  animation: img 2s;
}
.background5{
  background: rgb(255, 244, 196);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  box-shadow: 0px 0px 10px 10px rgb(255, 223, 163);
  animation: shadows 1.5s;
}
.img5div{
  width: 20%;
  height: 20%;
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
  animation: img 2s;
}
@keyframes shadows {
  from{
    box-shadow: 0px 0px 0px 0px rgb(243, 213, 158);
  }
  to{
    box-shadow: 0px 0px 10px 10px rgb(243, 213, 158);
  }
}
